





<div class="container">
<div class="row">
  <div class=" col-md-offset-3 col-md-6">
    <%= image_tag "logo.png", :class => "img-responsive" %>
  </div>
</div>
</div>


<div class="row">



  <%= form_for @pledge, :html => {:class => "form-horizontal col-md-12"}, role: "form", url: {action: "create"} do |f| %>
    <% if @pledge.errors.any? %>
      <div class="error_messages alert-danger">
        <ul>
          <% for message in @pledge.errors.full_messages %>
            <li><%= message %></li>
      <% end %>
         </ul>
      </div>     
    <% end %>


    <div class="form-group">
      <%= f.label :firstname, "First name", class: "col-md-3 control-label" %>
      <div class="col-md-6">
        <%= f.text_field :firstname, class: "form-control" %>
      </div>
    </div>

    <div class="form-group form-horizontal">
      <%= f.label :lastname, "Last name", class: "col-md-3 control-label" %>
      <div class="col-md-6">
        <%= f.text_field :lastname, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :email, "Email", class: "col-md-3 control-label"%>


      <div class="col-md-6">
        <%= f.text_field :email, type: "email", class: "form-control",  placeholder: "something@something.com"  %>

      </div>
    </div>

    <div class="form-group">
      <%= f.label :program, "Program", class: "col-md-3 control-label" %>
      <div class="col-md-6">
        <%= f.select :program, options_for_select(["Full time MBA", "Evening Weekend", "Executive MBA", "Faculty/Staff", "Other"]), {}, class: "form-control" %>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.label :gradyear, "Gradyear", class: "col-md-3 control-label" %>
      <div class="col-md-6">
        <%= f.select :gradyear, options_for_select([2017, 2018, 2019, "N/A - Faculty/Staff", "Other"]), {}, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :cohort, "Cohort (Berkeley Only)", class: "col-md-3 control-label" %>
      <div class="col-md-6">
        <%= f.select :cohort, options_for_select(["Blue", "Gold", "Axe", "Oski", "N/A - Faculty/Staff", "Other"]), {}, class: "form-control" %>
      </div>
    </div>


  <div class="form-check">
    <%= f.label :public, "Make your signature public?" %><br />
    <%= f.label :public, "Yes", :value => "true"  %>
    <%= f.radio_button :public, true %>
    <%= f.label :public, "No", :value => "false" %>
    <%= f.radio_button :public, false, :checked => true %>
  </div>



    <div class="form-group">
      <%= f.label :additional, "Additional information", class: "col-md-3 control-label" %>
      <div class="col-md-6">
        <%= f.text_area :additional, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :reason, "Reason submitting", class: "col-md-3 control-label" %>
      <div class="col-md-6">
        <%= f.text_area :reason, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :assist, "Can you assist?", class: "col-md-3 control-label" %>
      <div class="col-md-6">
        <%= f.select :assist, options_for_select(["Yes, I'd love to spend some time to help", "Yes, I'll talk to 5 classmates about this pledge", "Yes, I'll make a post on Facebook about why I pledged", "No, I'm busy now - but keep me informed!"]), {}, class: "form-control" %>
      </div>
    </div>

    <div class="form-check">
      <%= f.label :intl, "Are you an international student?" %>
      <%= f.radio_button :intl, 'yes', :checked => false %> Yes
      <%= f.radio_button :intl, 'no', :checked => true %> No
    </div>

    <div class="form-group">
      <%= f.label :intlcity, "If so, what city are you from?", class: "col-md-3 control-label" %>
      <div class="col-md-6">
        <%= f.text_field :intlcity, class: "form-control" %>
      </div>
    </div>

<br />

    <%= f.submit "Submit Pledge", class: "btn btn-default btn-primary" %>
  <% end %>

  </div>

