<!DOCTYPE html>
<html>
  <head>
    <title>Lgbtequality</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato:300,400|Roboto:400,700" rel="stylesheet">  </head>

  <body>
    <div class="container-full">


<nav class="navbar-default navbar-reverse">
  <div class="container-full">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">LGBTEquality Pledge</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <%if current_page?("home_description") %>
          <li><%= link_to "Home", root_path %></li>
        <% end %>

        <li>
          <%= link_to "About", home_description_path %>
        </li>

        <li>
          <%= link_to "Pledge", pledge_form_path %>
        </li>

        <li><a href="#">Progress Report</a></li>
        <li><%= link_to "Who Has Pledged?", {:controller => :pledge, :action => :who} %></li>
        <li><a href="#">Current Map</a></li>
        <li><a href="#">Contact</a></li>

      </ul>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="jumbotron">


      <%= yield %>
</div>
    </div>
  </body>
</html>
