<!DOCTYPE html>
<html>
  <head>
    <title>Lgbtequality</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
    <style>

    .jumbotron ul li{
      font-size: 21px;
    }

    .container .jumbotron, .container-fluid .jumbotron{
      border-radius: 0;
    }

    .btn-primary{
      background: #d80a5d;
      border: none;
      border-radius: none;
    }

    .btn-group-lg>.btn, .btn-lg{
      border-radius: 0;
    }

    .btn{
      border-radius: 0;
        transition: background-color 0.5s ease;

    }
    body{
      font-family: 'Karla', sans-serif;
      background: rgba(255,255,255,1);
      background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
      background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
      background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
      background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
      background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
    }

    .progress-bar{
      background: #d80a5d;
    }

    .progress{
      border-radius: 0;
      background: none;
      box-shadow: none;
      margin-bottom: 5px;
    }
    
    </style>
  </head>

  <body>
  	<div class="container">


<nav class="navbar-default navbar-reverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">LGBTEquality Pledge</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <%if current_page?("home_description") %>
          <li><%= link_to "Home", root_path %></li>
        <% end %>

        <li>
          <%= link_to "About", home_description_path %>
        </li>

        <li>
          <%= link_to "Pledge", pledge_form_path %>
        </li>

        <li><a href="#">Progress Report</a></li>
        <li><%= link_to "Who Has Pledged?", {:controller => :pledge, :action => :who} %></li>
        <li><a href="#">Current Map</a></li>
        <li><a href="#">Contact</a></li>

      </ul>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="jumbotron">


    	<%= yield %>
</div>
    </div>
  </body>
</html>
